body {
  font-family: Arial;
  background: gray;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  background: red;
  border-collapse: collapse;
}
th, td {
  border: 1px solid green;
  padding: 10px;
  text-align: center;
}

th {
  background: skyblue;
  color: white;
}
